.all_text {
    font-family: 'Oswald', sans-serif;
}
:hover{
    transition: all 0.5s ease;
}
div a:hover {
    
    text-decoration: none;
    transition: all 0.5s ease;
}

.text {
    font-family: 'Oswald', sans-serif;
    font-size: 0.875rem;
}

#carousel {
    position: relative;
    overflow: hidden;
    height: 40rem;
    width: 100%;
    
}

.slider {
    min-height: 460px;
}

.carousel-item img {
    width: 100%;
    overflow: hidden;
    
}

.top_bar_text {
    color: #fff;
}

#navbar_style {
    
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.0);
}
.a_active{
    color:#fd5c63 !important;
}
.navbar_position{
  position: absolute;
  width: 100%;
}
.navbar_position_2{
    top:48px;
}

.navbar_border {
    height: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 4px;
}

.navbar_border_1 {
    height: 32px;
    padding-bottom: 4px;
}

#navbar_style a {
    
    color: #fff;
}

.top_ico {
    padding-left: 1rem;
}

.top_ico:hover {
    transition: all 0.5s ease;
    color: #fd5c63;
}

.carousel_arrow {
    transition: all 0.5s ease;
    opacity: 0;
}

.navbar-brand p {
    font-size: 1rem;
}

.top_bar_text .row {
    position: absolute;
    top: 10px;
}

.top_ico_phone,
.top_ico_mail,
.row a {
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.top_ico_mail {
    padding-right: 2px;
    padding-left: 3rem;
}

.row a {
    top: -2px;
}

.logo_text {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    z-index: -1;
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.top_text:hover {
    color: #fd5c63 !important;
    transition: all 0.5s ease;
}

.top_tours_tittle,
.circle_img h4 {
    text-align: center;
}

.top_tours_tittle h1 {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

.top_tours {
    background: #DCEDF9;
    position: relative;
    padding: 4em 0px;
    
}

.tour_direction_img {
    margin: 4em 0 0 0;
}

.circle_img_1 {
    background: url('../image/a.png') no-repeat center;
}

.circle_img_2 {
    background: url('../image/a1.png') no-repeat center;
}

.circle_img_3 {
    background: url('../image/a2.png') no-repeat center;
}

.circle_img_4 {
    background: url('../image/a3.png') no-repeat center;
}

.circle_img h4 {
    font-size: 2em;
    color: #fff;
    line-height: 192px;
}

.circle_img_border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.0);
}

.circle_img_border:hover {
    transition: all 0.8s ease;
    
}

.circle_border_contain {
    position: relative;
    padding-bottom: 96%;
    height: 0px;
}

.circle_hover_border{
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.0);
    width: 45%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    transition: all 0.3s ease;
}
.circle_hover_border:hover{
     width: 70%;
     height: 80%;
    border:2px solid #fff;
    transition: all 0.3s ease;
}
.circle_hover_border_hover{
    width: 70%;
    height: 80%;
    border:2px solid #fff;
    transition: all 0.3s ease;
}

.circle_img_border_pa {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*元素垂直居中*/
    margin: auto;
    height: 80%;
    width: 204px;
}

.carousel_circle {
    height: 290px;
    width: 290px;
    border: 2px solid #fff;
}

.carousel_circle_text {
    height: 290px;
}

.carousel_circle_text h1,
.carousel_circle_text p {
    position: relative;
    text-align: center;
}

.carousel_circle_son {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel_circle_pa {
    margin: auto;
    position: relative;
    top: -16em;
    height: 290px;
    width: 290px;
}

.carousel_img img {
    width: 1280px;
    min-height: 600px;
}

.carousel_circle_son h1 {
    font-family: 'Pacifico', cursive;
}

.offer {
    color: #fff;
    position: relative;
    
    padding: 4em 0;
    background: #CEDDB6;
}

#offer_img {
    text-align: center;
    margin-bottom: 0px;
    background: url('../image/o1.jpg') no-repeat;
    min-height: 24rem;
}

#offer_img h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1rem;
    word-spacing: 2rem;
}

#offer_img p {
    display: block;
    margin: auto;
    width: 64%;
}

.offer_button {
    margin: auto;
    margin-top: 2rem;
}

.offer_button a {
    color: #383838;
    font-size: 0.875em;
    padding: 0.5em 2em;
    background: #FFF;
    border-radius: 5px;
    text-decoration: none;
}

.offer_button a:hover {
    text-decoration: none;
    background: #fd5c63;
    color: #FFF;
    transition: all 0.5s ease;
}

div .carousel_img_contain {
    height: 50rem;
    position: relative;
    background-size: cover;
    background-position: center;
}

.carousel_img_contain_1 {
    background: url("../image/top_img.jpg");
}

.carousel_img_contain_2 {
    background: url("../image/top_img1.jpg");
}

.carousel_img_contain_3 {
    background: url("../image/top_img2.jpg");
}

.news {
    position: relative;
    
    padding: 4rem;
    background: #DCEDF9;
}

.news_tittle h3 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    color: #383838;
    font-family: 'Pacifico', cursive;
}

.news_tittle p {
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 0.875rem;
    color: #383838;
}

.news_user a {
    color: #383838;
    font-size: .875em;
    margin: 0;
    text-decoration: none;
}

.news_user a:hover {
    text-decoration: none;
    color: #fd5c63;
}

.card {
    padding: 0.5rem;
}

.card_2 {}

.card_1 {}

.news_card {
    margin-top: 4rem;
    /* padding: 0.5rem; */
}

.news_date_text {
    color: #383838;
    font-size: 0.875em;
    margin: 0;
}
.card_text_contain{
    margin-top: 1rem;
}
.news_red_text{
    color: #fd5c63;
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
}
.news_red_text:hover{
        color: #383838;
}
.news_grey_text{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.footer {
    position: relative;
    
    padding: 4em 0;
    background: #FFF;
}
.footer_body div h4{
    color: #383838;
    font-size: 2em;
    margin: 0;
}
.foot_adress p{
    margin: 0;
    font-size: 0.875em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.foot_adress p span{
    display: block;
}
.foot_adress p span a{
   color: #BBBBBB;
}

.foot_adress p span a:hover{
  color: #fd5c63;
}
.footer_item_body {
    margin: 1em 0 0 0;
}
.navigation_nav ul{
    padding: 0;
    margin: 0;
}
.navigation_nav ul li {
    display: block;
}
.navigation_nav ul li a{
    font-size: 0.875em;
    color: #BBBBBB;
    line-height: 1.8em;
    text-decoration: none;
}
.social_ico ul{
      padding: 0;
      margin: 0;
}
.social_ico ul li{
    display: inline;
}
.social_ico ul li a {
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #383838;
  line-height: 40px;
  color: #FFF;
  border-radius: 50%; 
  transition: 0.5s all;
}
.social_ico ul li a:hover{
    background: #F44336;
}
#news_email{
    background: #fff;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #BBBBBB;
    font-size: 0.875em;
    width: 100% !important;
    font-weight: 400;
    border: 1px solid #BBBBBB;
    margin: 0 0 1em 0;
}
.newsletter_body form input[type="submit"]{
        border: solid 2px #383838;
        color: #383838;
        font-size: 0.875em;
        padding: 0.5em 2em;
        text-decoration: none;
        background: none;
        border-radius: 5px;
}
.newsletter_body form input[type="submit"]:hover{
        color: #fd5c63;
        border: solid 2px #fd5c63;
}
.copyright{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}
.copyright p{
    margin: 0;
    font-size: 0.875em;
    color: #BBBBBB;
}
.copyright p a{
    color: #BBBBBB;
}



/*********小屏设备样式********************************************************************************************/
@media only screen and (max-width: 575px) {
    .mobile_nav {
        background-color: rgba(0, 0, 0, 0.3);
    }

    #carousel {
        height: auto;
    }

    .collapse_ico {
        color: #fff;
    }

    div .carousel_img_contain {
        height: 460px;
        position: relative;
    }

    .carousel_img_contain {
        background: url("../image/top_img.jpg") cover;
    }

    .carousel_img_contain_1 {
        background: url("../image/top_img1.jpg") cover;
    }

    .carousel_img_contain_2 {
        background: url("../image/top_img2.jpg") cover;
    }
    .carousel-caption{
      top: 1rem;
      bottom: 0;
    }
    .carousel_circle{
        
    }

    .circle_img {
        font-family: 'Pacifico', cursive;
        height: 192px;
        background-size: auto 154px !important;
    }

    .circle_img_border h4 {
        font-size: 1rem;
        line-height: 132px;
    }

    .circle_img_border_pa {
        width: 78%;
    }

    .circle_img {
        padding: 15px 0px;
    }

    #offer_img h1 {
        font-size: 2rem;
        letter-spacing: 0rem;
        word-spacing: 1rem;
    }

    #offer_img p {
        width: 100%;
    }

    #offer_img {
        min-height: 18rem;
    }

    .offer {
        padding: 2rem 0;
    }

    .news{
        padding-left: 1rem;
        padding-right: 1rem;
    } 
    .card{
        margin-top: 1rem;
    }

    .circle_hover_border:hover {
        width: 132px;
        height:132px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }

    .circle_hover_border_hover {
        width: 132px;
        height: 132px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }
}


/*****************************/
/***************桌面设备**********************************************************************************************/
@media only screen and (min-width: 992px) {
    .circle_img {
        font-family: 'Pacifico', cursive;
        height: 240px;
        width: 255px;
        background-size: auto 240px !important;
    }
    .circle_hover_border:hover {
        width: 200px;
        height: 200px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }

    .circle_hover_border_hover {
        width: 200px;
        height: 200px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }
}

/*****************************/
@media only screen and (max-width: 1100px) and (min-width: 576px) {
    .circle_img {
        font-family: 'Pacifico', cursive;
        height: 240px;
        width: 255px;
        background-size: auto 240px !important;
    }
    .circle_hover_border:hover {
        width: 200px;
        height: 200px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }

    .circle_hover_border_hover {
        width: 200px;
        height: 200px;
        border: 2px solid #fff;
        transition: all 0.3s ease;
    }
    .circle_img{
        margin-top: 2rem;
    }
}